$blue-color: #42a7fe;
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}
@mixin flexbox(
  $align: flex-start,
  $justify: flex-start,
  $flex-direction: row,
  $wrap: nowrap
) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $flex-direction;
  flex-wrap: $wrap;
}
html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  background-color: #fefcfb;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

@media screen and (min-width: 768px) {
}
@media screen and (max-width: 767px) {
}
