*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}
body{
    background-color: #F9F9F9;
}
.container{
    background-color: #fff;
    width: 55%;
    height: 100%;
    margin: auto;
    padding: 20px;
}
h1{
    font-weight: 600;
}
.title{
    display: flex;
    justify-content: center;
    padding: 30px;
    width: 100%;
    
}
.content{
    margin-top: 20px;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 2.5;
}
.comment{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
    transition: transform 0.25s;
}
.comment:hover{
    transform: scale(1.1);
}
img{
    width: 100%;
    margin-top: 30px;

}
h1:hover, strong:hover{
    color: red;
}
h4{
    font-size: 15px;
    font-weight: 5;
    color: gray;
}
h4:hover{
    color: red;
}
.home{
    position: fixed;
    top: 30px;
    right: 30px;
}
.fa-home{
    color: gray;
    font-size: 50px;
}
.fa-home:hover{
    color:red;
}

