*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}
.body-container{
    background-color: #FF0054;
}
.container{
    margin: auto;
    width: 60%;
}
.menu{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: left;
    margin: 0 30px;
    
}
img{
    width: 100%;
    padding: auto;
}
.menu-list{
    background-color: white;
    list-style-type: none;
}
.sub-menu{
   
}