*{
    margin:0;
    padding: 0;
}

.search-banner {
    background-color: brown;
    display: flex;

}

.menu, .sub-menu {
    background-color: #FFFFFF;
    width: 250px;
    list-style: none;
    line-height: 2;
    border: 0.3px solid gainsboro;
    box-shadow: 0 4px 4px 0px rgb(146, 141, 141);
}

.sub-menu {
    display: none;
}

.heading {
    background-color: #FFFFFF;
    width: 100%;
    height: 80px;
}

.products-list {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;

    width: 1250px;
    margin-left: auto;
    margin-right:auto;
    justify-content: space-around;
}
.menu.level_0{
    position: relative;
}

.menu li:hover .sub-menu.level_1 {
    display:block;
    position:absolute;
    left: 100%;
    top: -1%;
}

.level_1{
    position: relative;
}

.sub-menu.level_1 li:hover .sub-menu.level_2 {
    display:block;
    position:absolute;
    left: 100%;
    top:0;
}

.level_2 {
    position: relative;
}

.sub-menu.level_2 li:hover .level_3{
    display:block;
    position:absolute;
    left: 100%;
    top:0;
}
.menu li a {
    display: block;
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

span {
    color: black;
    font-size: 20px;
    text-align: center;
    margin-left: 12px;
}

li {
    width: 100%;
}

li:hover {
    background-color: rgba(231, 241, 187, 0.87);    
}

span:hover {
    color: orange;
    
}
.chevron {
    color: white;
    padding-right: 12px;
}

li:hover .chevron {
    color:brown;
}

.sub-menu.level_1.chevron, .sub-menu.level_2.chevron, .sub-menu.level_3.chevron {
    color: white;
} 


.products-list img {
    width: 15%;
    margin-top: 18px;

}