*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}
.container-fluid {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
.container{
    width: 65%;
    height: 100%;
    margin: auto;
    padding: 0 15px;
    max-width: 1250px;
}
#header{
    width: 100%;
    height: 60px;
    background-color: #34465c;
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
}
.logo{
    width: 120px;
    height: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
}
.menu{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    margin: 0 30px;
}
.logo img{
    width: 100%;
}
.avatar{
    width: 60px;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 3px;
}
.avatar img{
    width: 70%;
    border-radius: 50%;
}
.menu-list{
    display: flex;
}
.menu-list li{
    list-style-type: none;
    margin: 0 15px;
}
.menu-list li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 400;

}
.caret{
    color: white;
    margin-left: 5px;
    font-size: 12px;
}
.menu-list li a:hover{
    color:gray;
}
