* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 20px;
    line-height: 2;
}

body {
    background-color: lightgray;
}

#body {
    background-color: rgb(255, 255, 255);
    width: 60%;
    height: 100%;
    margin: auto;
    padding: 30px 40px;
}

.quochieu {
    text-align: center;
    line-height: 2;
}

.quochieutieungu {
    text-transform: uppercase;
}

#tieude {
    font-weight: 600;
    text-align: center;
    font-size: 40px;
    padding: 20px 0 20px 0
}
.doanvan {
    text-align: justify;
}

#kiten {
    margin-left: 60%;
    text-align: center;
}